{% extends 'layout/base.html' %}

{% block body %}
    <div class="row" id="mainBox">
        <br>
        <div class="container-5">
            <h2><strong>Card Game</strong></h2>
            <h3><span id="blackjack-result">Let's Play</span></h3>

            <div class="flex-blackjack-row-1 container pt-3">
                <div class="row align-items-center" style="height: 33%;">
                    <div class="col">
                        11
                    </div>
                    <div class="col">
                        User 1
                    </div>
                    <div class="col">
                        13
                    </div>
                </div>
                <div class="row align-items-center" style="height: 33%;">
                    <div class="col">
                        User 2
                    </div>
                    <div class="col">
                        Main Board
                    </div>
                    <div class="col">
                        User 4
                    </div>
                </div>
                <div class="row align-items-center" style="height: 33%;">
                    <div class="col">
                        31
                    </div>
                    <div class="col">
                        Me
                    </div>
                    <div class="col">
                        33
                    </div>
                </div>
            </div>

        </div>
        <br>
    </div>

    <script>

    </script>
{% endblock %}