/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/

.container-5{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.main_table {
    background: url('https://www.desktopbackground.org/p/2013/09/10/636598_solid-dark-blue-backgrounds-wallpapers-abstract-wallpapers-localwom_3888x2592_h.jpg') center;
    color: white;
    height: 650px;
}

.neuEffect{
box-shadow: 9px 9px 16px rgb(163,177,198,0.9), -9px -9px 16px  rgba(255,255,255, 0.76);
border-radius: 10px;
align-items: center;
background-color: white;
word-break: break-word;
word-break: break-word;
/*max-width: 700px;*/
}