/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/

.container-5{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.main_table {
    /*background: url('https://thumbs.dreamstime.com/b/empty-brown-rustic-wooden-plank-table-flat-lay-top-view-above-copy-space-144230578.jpg') no-repeat center;*/
    background: url('https://thumbs.dreamstime.com/b/brown-wood-plank-wall-27988899.jpg') no-repeat center;
    /*background: url('images/background.jpg') no-repeat center;*/
    background-size: cover;
    color: white;
}

.neuEffect{
box-shadow: 9px 9px 16px rgb(163,177,198,0.9), -9px -9px 16px  rgba(255,255,255, 0.76);
border-radius: 10px;
align-items: center;
background-color: white;
word-break: break-word;
word-break: break-word;
/*max-width: 700px;*/
}