{% extends 'layout/base.html' %}
{% load static %}

{% block body %}
    <div class="row" id="mainBox" style="max-width: 100%;">
        <div id="feedback"></div>
        <div class="container">
            <div class="row m-5 w-25 mx-auto">
                <button class="btn btn-lg neuEffect" onclick="create_room()">Create Room</button>
            </div>
            <div class="row m-5 w-25 mx-auto">
                <button class="btn btn-lg neuEffect" onclick="join_room()">Join Room</button>
            </div>
        </div>
    </div>

    <script>
        let x = document.cookie
        .split(';')
        .map(cookie => cookie.split('='))
        .reduce((accumulator, [key, value]) => ({ ...accumulator, [key.trim()]: decodeURIComponent(value) }), {});

        room_id = window.location.href.split('/')

        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/rooms/room_status_api/" + room_id[5] + "/",
            headers: {Authorization: 'Bearer ' + x.access_token},
            data: "",
            success: function(data){
                console.log("success checking")
                console.log(data)

                if(data.status == 200){

                    if(data.person_2 != null){
                        person_2 = data.person_2.full_name
                    }
                    else{
                        person_2 = `<span class="fa fa-plus neuEffect rounded-circle" style="font-size: 20px;" id="person_2" onclick="join_seat(this)"></span>`
                    }
                    if(data.person_3 != null){
                        person_3 = data.person_3.full_name
                    }
                    else{
                        person_3 = `<span class="fa fa-plus neuEffect rounded-circle" style="font-size: 20px;" id="person_3" onclick="join_seat(this)"></span>`
                    }
                    if(data.person_4 != null){
                        person_4 = data.person_4.full_name
                    }
                    else{
                        person_4 = `<span class="fa fa-plus neuEffect rounded-circle" style="font-size: 20px;" id="person_4" onclick="join_seat(this)"></span>`
                    }

                    $('#mainBox').html(`
                        <br>
                        <div class="">
                            <h2><strong>Card Game</strong></h2>
                            <h3><span id="">Let's Play</span></h3>

                            <div class="main_table container pt-3">
                                <div class="row" style="height: 25%;">
                                    <div class="col">
                                        11
                                    </div>
                                    <div class="col m-5">
                                        <div class="row">
                                            <div class="col">
                                                <span class="btn btn-lg neuEffect rounded-circle" style="font-size: 16px;">${person_3}</span>
                                            </div>
                                        </div>
                                        <div class="row card-box" id="person_3">

                                        </div>
                                    </div>
                                    <div class="col my-auto">
                                        <strong><span class="p-3">Join Code : <input style="font-size: 16px; max-width: 100px;" type="text" class="bg-transparent input-sm" id="room_code" value="${data.room_code }"><span class="ps-3 fa fa-copy btn btn-md" onclick="copy_text(this)"></span></span></strong>
                                        <span class="btn btn-lg btn-primary ms-5" onclick="start_game()">start</span>
                                    </div>
                                </div>
                                <div class="row align-items-center" style="height: 45%;">
                                    <div class="col text-left">
                                        <div class="row align-items-center">
                                            <div class="col text-right ps-5" style="max-width: 30%">
                                                <span class="btn btn-lg neuEffect rounded-circle" style="font-size: 16px;">${person_4}</span>
                                            </div>
                                            <div class="col card-box" id="person_4" style="max-width: 70%">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" id="main_board">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    11
                                                </div>
                                                <div class="col">
                                                    <div class="" id="card_person_3">
                                                        <img src="{% static 'images/card_back.png' %}" height="120" width="80">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    13
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <div class="" id="card_person_4">
                                                        <img src="{% static 'images/card_back.png' %}" height="120" width="80" style="transform: rotate(90deg);">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    22
                                                </div>
                                                <div class="col">
                                                    <div class="" id="card_person_2">
                                                        <img src="{% static 'images/card_back.png' %}" height="120" width="80" style="transform: rotate(90deg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    31
                                                </div>
                                                <div class="col">
                                                    <div class="" id="card_person_1">
                                                        <img src="{% static 'images/card_back.png' %}" height="120" width="80">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    33
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col text-right m-5">
                                        <div class="row align-items-center">
                                            <div class="col card-box" id="person_2">

                                            </div>
                                            <div class="col text-left p-5">
                                                <span class="btn btn-lg neuEffect rounded-circle" style="font-size: 16px;">${person_2}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="height: 30%;">
                                    <div class="col">
                                        31
                                    </div>
                                    <div class="col align-self-end m-5">
                                        <div class="row" id="person_1" style="text-align: center;">

                                        </div>
                                        <div class="row">
                                            <div class="col pt-3">
                                                <span class="btn btn-lg neuEffect rounded-circle">${data.person_1.full_name}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        33
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    `)

                    if(data.cards.length != 0){
                        $('#person_1').html(`
                            <div class="row" id="my_card_set">
                                <div class="col" style="max-width: 12%">
                                   <img src="${data.cards[0].card.img}" height="120" width="80">
                                </div>
                                <div class="col" style="max-width: 12%">
                                   <img src="${data.cards[1].card.img}" height="120" width="80">
                                </div>
                                <div class="col" style="max-width: 12%">
                                   <img src="${data.cards[2].card.img}" height="120" width="80">
                                </div>
                                <div class="col" style="max-width: 12%">
                                   <img src="${data.cards[3].card.img}" height="120" width="80">
                                </div>
                            </div>
                        `);
                        $('.card-box').html(`
                            <div class="row">
                                <div class="col" style="max-width: 12%">
                                   <img src="{% static 'images/card_back.png' %}" height="120" width="80">
                                </div>
                                <div class="col" style="max-width: 12%">
                                   <img src="{% static 'images/card_back.png' %}" height="120" width="80">
                                </div>
                                <div class="col" style="max-width: 12%">
                                   <img src="{% static 'images/card_back.png' %}" height="120" width="80">
                                </div>
                                <div class="col" style="max-width: 12%">
                                   <img src="{% static 'images/card_back.png' %}" height="120" width="80">
                                </div>
                            </div>
                        `)

                        $("#person_2 > div:first-child > div").css("transform", "scale(0.5)")
                        $("#person_2 > div:first-child").css("transform", "rotate(90deg)")
                        $("#person_4 > div:first-child > div").css("transform", "scale(0.5)")
                        $("#person_4 > div:first-child").css("transform", "rotate(90deg)")
                        $("#person_3 > div:first-child > div").css("transform", "scale(0.5)")
                    }
                }
                my_turn()
            },
            error: function(data){
                console.log("error checking")
                console.log(data)
            },
        })

        function join_seat(seat_no){
            room_id = window.location.href.split('/')
            input_data = {}
            input_data['seat_no'] = seat_no.id;
            input_data['room_id'] = room_id[5];

            $.ajax({
                type: "PUT",
                url: "http://127.0.0.1:8000/rooms/join_seat_api/",
                headers: {Authorization: 'Bearer ' + x.access_token},
                data: JSON.stringify(input_data),
                success: function(data){
                    console.log("success checking")
                    console.log(data)

                    if(data.status == 200){
                        window.location = "/rooms/room/" + data.room_id + "/"
                    }
                },
                error: function(data){
                    console.log("error checking")
                    console.log(data)
                },
            })
        }

        function start_game(){
            room_id = window.location.href.split('/')
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8000/rooms/" + room_id[5] + "/start_game_api/",
                headers: {Authorization: 'Bearer ' + x.access_token},
                data: "",
                success: function(data){
                    console.log("success checking")
                    console.log(data)

                    if(data.status == 200){
                        window.location = "/rooms/room/" + room_id[5] + "/"
                    }
                },
                error: function(data){
                    console.log("error checking")
                    console.log(data)
                },
            })
        }

        function copy_text(data){
            navigator.clipboard.writeText($('#room_code').val());
            $(data).removeClass("fa-copy")
            $(data).addClass("fa-check")
        }

        function my_turn(){
            if($('#card_person_4').children().length > 0){
                open_turn();
            }
        }

        function open_turn(){
            $("#my_card_set > div > img").attr("onclick", "give_card(this)")
        }
        function give_card(card){
            $('#card_person_1').html($(card).parent());
            $("#my_card_set > div > img").attr("onclick", "")
        }

<!--        function open_turn(){-->
<!--            $("#my_card_set > div > img").click(function(data){-->
<!--                console.log("clicked this card")-->
<!--                console.log(data)-->
<!--                $('#card_person_1').html(data);-->
<!--                // $('#my_card_set').hide(img);-->
<!--                // localStorage.setItem("turn", parseInt(localStorage.getItem("turn")) + 1)-->
<!--            })-->
<!--        }-->

    </script>
{% endblock %}