{% load static %}

<div id="topnav" class="mt-5 topnav row mx-auto" style="max-width: 100%;">

    <div style="text-align: left;" class="col">
        <a id="logo" class="m-3 btn btn-lg" href="/" onmouseover="this.style.backgroundColor='#c3c7cb';" onmouseout="this.style.backgroundColor='white';" ><img src="{% static 'images/favicon.png' %}" class="rounded-circle" height="50" width="50"><strong> Name</strong></a>
    </div>
    <div style="text-align: center;" class="col m-3">
        <a id="home" class="m-3 btn neuEffect btn-lg active" href="/">Home</a>
        <a class="btn neuEffect btn-lg" href="/admin/" target="_blank">Admin</a>
    </div>
    <div style="text-align: right" class="col ">
        <a id="nameAndDp" style="" class="me-5 btn btn-lg" href="/sign_in/my_account/" onmouseout="this.style.backgroundColor='white'; this.style.color='black'" onmouseover="this.style.backgroundColor='#208293'; this.style.color='white'"></a>
        <a id="signOut" class="me-3 btn btn-lg" href="/registration/sign_out/" style="font-size:26px; color: tomato;" onmouseover="this.style.backgroundColor='tomato'; this.style.color='white'" onmouseout="this.style.backgroundColor='white'; this.style.color='tomato'"><strong>Log out</strong></a>

        <a id="student_signUp" class="signUp me-3 btn neuEffect btn-lg" href="/registration/sign_up/" target="_blank">Sign Up</a>
        <a id="signIn" class="me-3 btn neuEffect btn-lg" onclick="lastUrlGet()" href="/registration/sign_in/" >Sign In</a>
    </div>
</div>
